/* difine color varibles   */
:root{
  --primary-color: #02943F !important;
  --secondary-color: #F6B54C;
}
.p-menubar-button{
    display: none !important;
}
.home_page{
    margin-top: 80px;
}
.hover_card:hover{
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}
  .menu-list li{
    padding: 4px;

  }
  body{
  overflow-x: hidden;

  }
